@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
img{
  display: block;
}

/* 헤더 시작 */
header{
  position: relative;
  height: 200px;
  margin-top: 20px;
  margin: 0 auto;
}

#header-fixed {
  background-color: white;
  z-index: 50;
  position: fixed;
  width: 100vw;
}


.header-holder{
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-container{
  position: relative;
  width: 980px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.header-logo{
  width: 310px;
  height: 130px;
  position: relative;
  display: flex;
  cursor: pointer;
}
.header-logo img{
  height: 130px;

}
.header-hr{
  border-top: 1px solid lightgray;
}
.header-logo div{
  position: absolute;
  height: 20px;
  bottom: 38px;
  left: 125px;
  font-weight: bold;
  letter-spacing: 5px;
}

.header-btnContainer{
  width: 380px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 35px;
}
.header-quickBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header-quickBtn img{
  width: 45px;
}

.header-quickBtn div{
  font-size: 13px;
  letter-spacing: -.5px;
}

.header-navContainer{
  align-items: center;
  margin: 0 auto;
  width: 980px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.header-menu{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-menu img{
  height: 30px;
}

.prescription-img {
	opacity: 0.9;
}