@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

main {
	width: 980px;
	margin: 0 auto;
	height: 500px;
}

.doctorList-ears {
	color: #37AA8B;
	font-weight: bold;
	font-size: 25px;
	margin-top: 40px;
}

.doctorList-container {
	margin-top: 50px;
	border: 1.5px solid lightgray;
	border-radius: 7px;
	font-size: 14px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.doctorList-ear-pagenation {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.doctorList-ear-pagenation li {
    display: inline;
    margin: 0 5px;
}

.doctorList-ear-pagenation a {
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.doctorList-ear-pagenation a {
	cursor: pointer;
	letter-spacing: 5px;
	font-size: 18px;
	color: black;
	text-decoration: none;
}