<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <!-- 카멜 케이스 매핑 설정 -->
      <setting name="mapUnderscoreToCamelCase" value="true" />
   
      <!-- 쿼리결과 필드가 null인 경우 누락되지 않도록 설정 -->
      <setting name="callSettersOnNulls" value="true" />
      
      <!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
      <setting name="jdbcTypeForNull" value="NULL" />
   </settings>
   
   <typeAliases>
      <typeAlias type="com.doctorTreat.app.dto.MemberDTO" alias="MemberDTO" />
      <typeAlias type="com.doctorTreat.app.dto.MemberBoardDTO" alias="MemberBoardDTO" />
      <typeAlias type="com.doctorTreat.app.dto.ClinicDoctorListDTO" alias="ClinicDoctorListDTO" />
      <typeAlias type="com.doctorTreat.app.dto.ChartDTO" alias="ChartDTO" />
      <typeAlias type="com.doctorTreat.app.dto.ChatDTO" alias="ChatDTO" />
      <typeAlias type="com.doctorTreat.app.dto.ChatSessionDTO" alias="ChatSessionDTO" />
      <typeAlias type="com.doctorTreat.app.dto.DoctorBoardDTO" alias="DoctorBoardDTO" />
      <typeAlias type="com.doctorTreat.app.dto.DoctorDTO" alias="DoctorDTO" />
      <typeAlias type="com.doctorTreat.app.dto.HospitalDTO" alias="HospitalDTO" />
      <typeAlias type="com.doctorTreat.app.dto.MainMedicalInfoDTO" alias="MainMedicalInfoDTO" />
   </typeAliases>

   <environments default="oracle">
      <environment id="oracle">
         <transactionManager type="JDBC" />
         <dataSource type="POOLED">
            <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
            <property name="url" value="jdbc:oracle:thin:@localhost:1521" />
            <property name="username" value="DOCTORTREAT" />
            <property name="password" value="1234" />            
         </dataSource>
      </environment>
   </environments>
   
   <mappers>
      <mapper resource="com/mybatis/mapper/MemberMapper.xml" />
      <mapper resource="com/mybatis/mapper/MemberBoardMapper.xml" />
      <mapper resource="com/mybatis/mapper/DoctorClinicMapper.xml" />
      <mapper resource="com/mybatis/mapper/DoctorCommentMapper.xml" />
      <mapper resource="com/mybatis/mapper/DoctorMapper.xml" />
      <mapper resource="com/mybatis/mapper/DoctorMypageMapper.xml" />
      <mapper resource="com/mybatis/mapper/MemberClinicMapper.xml" />
      <mapper resource="com/mybatis/mapper/MemberMypageMapper.xml" />
      <mapper resource="com/mybatis/mapper/Main.xml" />
   </mappers>
</configuration>