@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.chatList-choice {
  color: #37AA8B;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
}

main {
  width: 980px;
  margin: 0 auto;
  height: 750px;
}

.chatList-department {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.chatList-otolaryngology,
.chatList-medicine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 100px;
  border: 1px solid lightgray;
  background-color: #37AA8B;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-size: 30px;
}

.chatList-otolaryngology {
  margin-right: 80px;
}

.chatList-container{
  display: flex;
  justify-content: space-between;
}

.chatList-container-ear,
.chatList-container-medicine {
  position: relative;
}

.chatList-wrap-ear-top,
.chatList-wrap-ear-bottom,
.chatList-wrap-medicine-top,
.chatList-wrap-medicine-bottom {
  border: 1px solid lightgray;
  display: flex;
  width: 435px;
  justify-content: space-between;
  height: 130px;
  border-radius: 7px;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.chatList-name {
  font-size: 18px;
  font-weight: bold;
}

.chatList-License-number {
  font-size: 15px;
  color: gray;
  padding-top: 10px;
}

.chatList-img img {
  height: 50px;
}

.chatListMember-notice {
	font-size: 14px;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.chatListMember-important {
	color: red;
	font-weight: bold;
}