@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.startClinic-title {
  font-size: 25px;
  font-weight: bold;
  color: #37aa8b;
  margin-top: 40px;
}

main {
  width: 980px;
  margin: 0 auto;
  height: 400px;
}

#startClinic-startBtn {
  margin: 60px auto;
  background-color: #37aa8b;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  width: 500px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

main a {
  text-decoration: none;
}

#startClinic-startBtn:hover{
  background-color: #2e9278
} 