<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="doctorClinic">

	<!-- 의사회원이 소유한 환자와의 채팅목록조회 -->
	<select id="getChatList" parameterType="int"
		resultType="MemberDTO">
		SELECT M.MEMBER_NUMBER ,M.MEMBER_NAME
		,TO_CHAR(M.MEMBER_BIRTH, 'YYYY-MM-DD')
		AS MEMBER_BIRTH
		FROM
		DT_CHAT_SESSION CS JOIN DT_MEMBER M ON CS.MEMBER_NUMBER =
		M.MEMBER_NUMBER
		WHERE CS.DOCTOR_NUMBER = #{doctorNumber}
	</select>

	<!-- 처방전 작성시 자동 작성항목 조회(일반정보) -->
	<select id="getChartMemberInfo" parameterType="int"
		resultType="ChartDTO">
		SELECT
		MEMBER_NAME,
		TO_CHAR(MEMBER_BIRTH, 'YYYY-MM-DD') AS
		MEMBER_BIRTH
		FROM
		DT_MEMBER
		WHERE
		MEMBER_NUMBER = #{memberNumber}
	</select>

	<!-- 처방전 작성시 자동작성 항목 조회(의사정보) -->
	<select id="getChartInfo" parameterType="Map"
		resultType="ChartDTO">
		SELECT
		M.MEMBER_NUMBER ,
		D.DOCTOR_NAME ,
		H.HOSPITAL_NAME ,
		M.MEMBER_NAME ,
		TO_CHAR(M.MEMBER_BIRTH, 'YYYY-MM-DD') AS MEMBER_BIRTH
		FROM
		DT_CHAT_SESSION CS
		JOIN DT_DOCTOR D ON
		CS.DOCTOR_NUMBER =
		D.DOCTOR_NUMBER
		JOIN DT_MEMBER M ON
		CS.MEMBER_NUMBER = M.MEMBER_NUMBER
		JOIN DT_HOSPITAL H ON
		H.HOSPITAL_NUMBER = D.HOSPITAL_NUMBER
		WHERE
		M.MEMBER_NUMBER = #{memberNumber}
		AND D.DOCTOR_NUMBER = #{doctorNumber}
	</select>

	<!-- 처방전에서 받은 값 차트 테이블에 저장 -->
	<insert id="inputChart" parameterType="ChartDTO">
		INSERT
		INTO
		DT_CHART
		(CHART_NUMBER,
		CHART_NAME,
		CHART_MEDICINE,
		CHART_DAY,
		CHART_TIME,
		CHART_PERIOD,
		MEMBER_NUMBER,
		DOCTOR_NUMBER,
		CHART_WRITE_DATE)
		VALUES
		(CHART_SEQ.NEXTVAL,
		#{chartName},
		#{chartMedicine},
		#{chartDay},
		#{chartTime},
		#{chartPeriod},
		#{memberNumber},
		#{doctorNumber},
		SYSDATE)
	</insert>

	<!-- 의사이름, 병원이름 조회 -->
	<select id="getDoctorInfo" parameterType="int"
		resultType="DoctorDTO">
		SELECT
		H.HOSPITAL_NAME , D.DOCTOR_NAME FROM DT_HOSPITAL H JOIN DT_DOCTOR D ON
		H.HOSPITAL_NUMBER=D.HOSPITAL_NUMBER WHERE
		D.DOCTOR_NUMBER=#{doctorNumber}
	</select>

	<!-- 채팅방 조회 -->
	<select id="getChatRoomNumber" parameterType="Map"
		resultType="ChatSessionDTO">
		SELECT
		CS.SESSION_NUMBER,
		CS.DOCTOR_NUMBER
		FROM
		DT_DOCTOR D
		JOIN DT_HOSPITAL H ON
		D.HOSPITAL_NUMBER = H.HOSPITAL_NUMBER
		JOIN
		DT_CHAT_SESSION CS ON
		CS.DOCTOR_NUMBER = D.DOCTOR_NUMBER
		JOIN DT_MEMBER
		M ON
		CS.MEMBER_NUMBER = M.MEMBER_NUMBER
		WHERE
		M.MEMBER_NUMBER =
		#{memberNumber}
		AND D.DOCTOR_NUMBER = (
		SELECT
		DD.DOCTOR_NUMBER
		FROM
		DT_DOCTOR DD
		JOIN DT_HOSPITAL HH ON
		DD.HOSPITAL_NUMBER =
		HH.HOSPITAL_NUMBER
		WHERE
		DD.DOCTOR_NAME = #{doctorName}
		AND
		HH.HOSPITAL_NAME = #{hospitalName})
	</select>

	<!-- 채팅 저장 -->
	<select id="inputDoctorChat" parameterType="ChatDTO">
		INSERT INTO DT_CHAT
		(CHAT_NUMBER, CHAT_TEXT, CHAT_MSG_DATE, SESSION_NUMBER,
		DOCTOR_NUMBER)
		VALUES
		(CHAT_SEQ.NEXTVAL, #{chatText} , SYSDATE, #{sessionNumber},
		#{doctorNumber})
	</select>
</mapper>