<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberBoard">

	<!-- 게시글 리스트 보여주기 (Oracle용 페이지네이션 적용) -->
	<select id="showlist" parameterType="map"
		resultType="MemberBoardDTO">
		SELECT * FROM (
    SELECT dmi.MEDICAL_INFO_NUMBER, dmi.MEDICAL_INFO_TITLE, dm.MEMBER_NUMBER, 
           dm.MEMBER_NAME, dmi.MEDICAL_INFO_DATE, dmi.MEDICAL_INFO_TEXT, 
           dd.DOCTOR_NUMBER, dd.DOCTOR_MAJOR, dd.DOCTOR_NAME, 
           ddc.DOCTOR_COMMENT_NUMBER, ddc.DOCTOR_COMMENT_TEXT,
           ROWNUM AS row_num
    FROM DT_MEDICAL_INFO dmi
    JOIN DT_MEMBER dm ON dmi.MEMBER_NUMBER = dm.MEMBER_NUMBER
    JOIN DT_DOCTOR_COMMENT ddc ON ddc.MEDICAL_INFO_NUMBER = dmi.MEDICAL_INFO_NUMBER
    JOIN DT_DOCTOR dd ON ddc.DOCTOR_NUMBER = dd.DOCTOR_NUMBER
)
WHERE row_num BETWEEN ? + 1 AND ? + ?

	</select>


	<!-- 총 게시물 수 가져오기 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		DT_MEDICAL_INFO
	</select>


	<!-- 게시글 디테일 -->
	<select id="showDetail" parameterType="int"
		resultType="MemberBoardDTO">
		SELECT dmi.MEDICAL_INFO_TITLE, dm.MEMBER_NAME, dmi.MEDICAL_INFO_DATE,
		dmi.MEDICAL_INFO_TEXT,
		dd.DOCTOR_MAJOR, dd.DOCTOR_NAME, ddc.DOCTOR_COMMENT_TEXT
		FROM DT_MEDICAL_INFO dmi
		JOIN DT_MEMBER dm ON dmi.MEMBER_NUMBER = dm.MEMBER_NUMBER
		JOIN DT_DOCTOR_COMMENT ddc ON ddc.MEDICAL_INFO_NUMBER =
		dmi.MEDICAL_INFO_NUMBER
		JOIN DT_DOCTOR dd ON ddc.DOCTOR_NUMBER = dd.DOCTOR_NUMBER
		WHERE dmi.MEDICAL_INFO_NUMBER = #{medicalInfoNumber}
	</select>





</mapper>